*{
    margin: 0px;
    padding: 0px;
}
.container{
    border:0px solid black;
    padding: 20px;
    border-radius: 18px;
    background-color: rgb(62, 62, 62);
    box-shadow: 28px 28px 42px rgb(49, 45, 45);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a4a4a4;
}
h1{
    margin: 53px 0px;
    text-align: center;
}
button:hover{
    box-shadow: 3px 3px 4px rgb(115, 115, 115);
}
button:active{
    scale: 0.95;
}

button{
    height: 3rem;
    width: 3rem;
    margin: 3px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #202323;
    box-shadow: 3px 3px 4px #a4a4a4;
}
input{
    width: 223px;
    height: 34px;
    margin: 10px 0px;
    border-radius: 4px;
    background-color: aliceblue;
    color: black;
    font-size: 1.3rem;
}